body {
  background-color: lightyellow;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333
}

h1 {
  font-family:cursive;
  font-size: 28px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.div {
  background-color: lightgoldenrodyellow;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 0px;
}

.underline {
    text-decoration: underline;
}

li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
